<configuration scan="true" scanPeriod="60 seconds" debug="false">

	<property name="LOG_HOME" value="F:/log" />
	<property name="LOG_NAME" value="logback" />
	<property name="ENCODING" value="UTF-8" />
	<property name="PATTERN" value="%d %5level [%thread] %logger{0} - %m%n%ex{5}" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>${PATTERN}</pattern>
		</layout>
	</appender>

	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_HOME}/${LOG_NAME}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/hislog/${LOG_NAME}.%d{yyyy-MM-dd}.%i.log.zip</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<maxHistory>7</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>${PATTERN}</pattern>
			<charset>${ENCODING}</charset>
		</encoder>
	</appender>
<!-- 
	<logger name="spittr" level="INFO" addtivity="false" >
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</logger>
-->
	<!-- level:TRACE, DEBUG, INFO, WARN, ERROR, ALL 和 OFF -->
	<root level="ALL">
		<appender-ref ref="STDOUT" />
		<!-- <appender-ref ref="FILE" />-->
	</root>
</configuration>  